<div class="flex flex-col items-center justify-center w-full h-full">
    <div class="w-full max-w-3xl">
        <div class="max-w-none mx-auto prose prose-sm">
            <!-- <img class="w-20" src="assets/images/logo/carrentx-logo.png" alt="Logo image"> -->
            <h1 class="home-header">The Best Way of Renting a Car</h1>
            <p>
                A car rental in the World-Wide is your freedom-pass to travel like a local and cover as much road as you
                want to, without any hassle. And, at <span><b>CarRentX</b></span>, we make sure that you get hold of
                your perfect deal in just a few clicks! We are a car rental broker company that brings pre-negotiated
                deals to you, from
                leading suppliers at heavily discounted rates. Understanding customers and their car rental needs is our
                major priority, and
                we leave no stone unturned to help them find the right car for their vacation or business trip!.
            </p>
        </div>
        <div>
            <img class="car-image" src="../../../../assets/images/cars/car-transparent_new.png" alt="car_image">
            <a class="mt-8 launch-bt" style="float: right !important;" mat-flat-button [color]="'primary'" [routerLink]="'/landing-page'">
                <span>Launch the App</span>
                <mat-icon class="ml-2 icon-size-5" [svgIcon]="'heroicons_solid:arrow-narrow-right'"></mat-icon>
            </a>
        </div>
    </div>
</div>