.card-h {
    height: 12rem !important;
}

.card-img {
    background-color: #1e293b; 
    height: 15rem !important;
}

.card-size {
    width: 30rem !important;
}

.img-bg {
    background-color: #1e293b;
}