<div class="flex flex-col items-center w-full h-full ml-6r">
    <div class="w-full max-w-3xl">
        <div class="max-w-none mx-auto prose prose-sm">
            <img class="logo-w" src="assets/images/logo/carrentx-logo.png" alt="Logo image">
            <h1 class="hd-1">Plan your trip now</h1>
            <h1 class="home-header">Save big with our car rental</h1>
            <p>
                To contribute to positive change and achieve our sustainability goals with many extraordinary
            </p>
        </div>
        <div class="text-left">
            <a class="mt-8 launch-bt btn-w btn-p" mat-flat-button [color]="'primary'"
                [routerLink]="'/list-ride'">
                <span>List Your Ride</span>
                <mat-icon class="ml-2 icon-size-5" [svgIcon]="'mat_solid:electric_car'"></mat-icon>
            </a>
            <a class="mt-8 launch-bt btn-w btn-p" mat-flat-button [color]="'primary'"
                [routerLink]="'/find-ride'">
                <span>Book Ride </span>
                <mat-icon class="ml-2 icon-size-5" [svgIcon]="'date_range'"></mat-icon>
            </a>
        </div>

    </div>
</div>

<div class="flex flex-col items-center justify-center w-full h-full no-scroll-div" id="cust_container">
    <img src="../../../../assets/images/cars/Land_Rover_Defender.png" id="img2" alt="car_image">
    <img src="../../../../assets/images/banner/bg_banner.png" id="img1" alt="car_image">
</div>