.pb-0 {
    padding-bottom: 0rem !important;
}

.pt-0 {
    padding-top: 0rem !important;
}

.ld-size {
    font-size: 1rem !important;
}

.ld-item-size {
    font-size: 1.1rem !important;
}

.m-hd {
    font-size: 1.7rem !important;
}

.p-0 {
    padding: 0rem !important;
}

.p-l-t-r {
    padding-left: 2rem !important;
    padding-top: 2rem !important;
    padding-right: 2rem !important;
}

.b-btm-s {
    display: block; 
    border-bottom: 1px solid black !important;
}